<!DOCTYPE html>
<html>
<head>
	<title>Steering Matrix Entry</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body class="dx-viewport">

	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.5.0/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="~/Scripts/DevExtreme/dx.all.js"></script>
	<script src="~/Scripts/DevExtreme/dx.aspnet.data.js"></script>

	<script src="~/Scripts/EditQuiz.js"></script>

	<link href="~/Scripts/DevExtreme/dx.common.css" rel="stylesheet" />
	<link href="~/Scripts/DevExtreme/dx.light.css" rel="stylesheet" />
	<link href="~/Scripts/DevExtreme/dx.spa.css" rel="stylesheet" />
	
	<script>
	window.onload = function () {
		ShowAllQuizData();
	}
	//$("#pageStatus").hide();
	</script>
</body>
</html>